.header-warp {
  padding: 20px 40px 0px;
}

.logo {
  width: 92px;
}
.navbar-apps {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
}
.navbar-apps:hover {
  background-color: rgba(60, 64, 67, 0.08);
}

.navbar-apps svg {
  width: 24px;
  fill: #5f6368;
}

.nav-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.nav-profile:hover {
  background-color: rgba(60, 64, 67, 0.08);
}
.nav-profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.navbar {
  padding: 0px 40px;
}
.navbar-nav {
  display: flex;
  align-items: center;
  padding: 30px 0px 0px 150px;
}
.navbar-nav .nav-item {
  padding-right: 15px;
}
.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  padding: 0px 3px 10px;
}
.navbar-nav .nav-link:hover {
  color: #1a73e8;
}

.navbar-nav .nav-link svg {
  margin-right: 5px;
  fill: #5f6368;
}
.navbar-nav .nav-link.active {
  color: #1a73e8;
  border-bottom: 3px solid #1a73e8;
}
.navbar-nav .search.active path:nth-child(1) {
  fill: #34a853;
}
.navbar-nav .search.active path:nth-child(2) {
  fill: #ea4335;
}
.navbar-nav .search.active path:nth-child(3) {
  fill: #fbbc04;
}
.navbar-nav .search.active path:nth-child(4) {
  fill: #4285f4;
}

.navbar-nav .images.active path:nth-child(2) {
  fill: #4285f4;
}
.navbar-nav .images.active path:nth-child(3) {
  fill: #ea4335;
}
.navbar-nav .images.active path:nth-child(4) {
  fill: #34a853;
}
.navbar-nav .images.active path:nth-child(5) {
  fill: #fbbc04;
}

.navbar-nav .videos.active path:nth-child(1) {
  fill: #4285f4;
}
.navbar-nav .videos.active path:nth-child(2) {
  fill: #ea4335;
}
.navbar-nav .videos.active path:nth-child(3) {
  fill: #fbbc04;
}
.navbar-nav .videos.active path:nth-child(4) {
  fill: #34a853;
}

.navbar-nav .news.active path:nth-child(1) {
  fill: #34a853;
}
.navbar-nav .news.active path:nth-child(2) {
  fill: #4285f4;
}
.navbar-nav .news.active path:nth-child(3) {
  fill: #ea4335;
}
.navbar-nav .news.active path:nth-child(4) {
  fill: #fbbc04;
}
.navbar-nav .news.active path:nth-child(4) {
  fill: #4285f4;
}
